<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getFullName() + ' - информация о профиле'}"></title>
</head>
<body>

<p th:text=" ${person.getFullName() + ', ' + person.getBirthYear()}">VALUE</p>

<hr/>

<div th:if="${!person.getTakenBooks().isEmpty()}">

<p><b>Книги :</b></p>

    <div th:each="book : ${person.getTakenBooks()}">
        <p  th:style="${book.isOverdue()} ? 'color:red' : 'color:black'"
            th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">value</p>
    </div>

</div>

<div th:if="${person.getTakenBooks().isEmpty()}">
    <p>Этот человек пока не взял ни одной книги</p>
</div>



<br/>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать</a>
<hr/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <input type="submit"  value="Удалить"/>
</form>

</body>
</html>